*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#ff758c,#6a11cb);
padding:30px;
}

.title{
text-align:center;
color:white;
margin-bottom:30px;
font-size:40px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:15px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,.3);
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
cursor:pointer;
transition:.4s;
}

.card img:hover{
transform:scale(1.05);
}

.card p{
margin-top:15px;
text-align:center;
font-size:18px;
font-style:italic;
}

.btn-box{
text-align:center;
margin:40px;
}

button{
padding:18px 40px;
font-size:20px;
background:#ff0066;
color:white;
border:none;
border-radius:50px;
cursor:pointer;
}

button:hover{
background:#d10056;
}

#lightbox{
display:none;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
justify-content:center;
align-items:center;
}

#lightbox img{
max-width:90%;
max-height:90%;
border-radius:20px;
}

@media(max-width:700px){

.title{
font-size:30px;
}

.card img{
height:200px;
}

button{
width:100%;
}

}