*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:linear-gradient(135deg,#ff758c,#6a11cb);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.quiz-box{

background:white;

padding:40px;

border-radius:20px;

width:90%;

max-width:600px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

h1{

margin-bottom:20px;

}

input{

width:100%;

padding:15px;

margin:15px 0;

font-size:18px;

}

button{

padding:15px 40px;

font-size:18px;

background:#ff0066;

color:white;

border:none;

border-radius:50px;

cursor:pointer;

}

button:hover{

background:#d10056;

}

.progress{

width:100%;

height:15px;

background:#ddd;

border-radius:20px;

margin:20px 0;

overflow:hidden;

}

#progressBar{

height:100%;

width:0%;

background:green;

transition:.4s;

}

#timer{

font-size:25px;

color:red;

font-weight:bold;

}